@import vendors/bootstrap
@import mixins/border-radius
@import mixins/box-shadow
@import mixins/transition
@import mixins/transform
@import mixins/column-count
@import global

// Calendar styles
.calendar-pagination
	position: relative
	z-index: 2
	.pagination-container
		display: flex
		justify-content: space-between
		background-color: $whitesmoke
		border-bottom: 1px solid $recipeBackgroundColor
		border-left: 1px solid $recipeBackgroundColor
		+box-shadow(0px 2px 1px 0px $shadowColor)
	.current-week
		padding: 0 5px 0 5px
		font-size: 12px
		text-align: center
	button
		padding: 0
		background: none
		border: none
		background-color: $whitesmoke

.calendar, .summary
	position: relative
	z-index: 2
	background-color: $whitesmoke
	+box-shadow(0px 2px 1px 0px $shadowColor)

.summary
	margin: 25px 15px
	padding: 25px

calendar .col-xs-1
	width: 14.285714285714285714285714285714%
	*width: 14.285714285714285714285714285714%
.day
	height: 400px
	overflow: auto
	padding: 0
	.date
		width: 100%
		font-size: 12px
		line-height: 25px
		text-align: center
	.meal
		position: relative
		width: 100%
		min-height: 31.2%
		padding: 0 15px
		&:after
			content: ""
			position: absolute
			bottom: 5px
			left: 5px
			display: block
			height: 20px
			width: 20px
			background-size: contain
			background-repeat: no-repeat
		&.over
			border: 2px dashed $navColor
	.lunch, .breakfast, .dinner
		border: 1px dashed $navColor
	.breakfast:after
		background-image: url('../images/morning-icon.png')
	.lunch:after
		background-image: url('../images/noon-icon.png')
	.dinner:after
		background-image: url('../images/night-icon.png')
	.recipe
		width: 100%
		height: auto
		margin: 5px 0
		padding: 10px
		.recipe-title
			margin: 0
			text-align: center
		.recipe-ingredients
			margin: 0
			padding: 0 0 0 27px
			font-size: 12px
//Day with today's date mark
.today
	background-color: #DAE5D8
.day-header
	height: 50px
	padding: 0
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	border-bottom: 1px solid $recipeBackgroundColor
.day, .day-header
	&+*
		border-left: 1px solid $recipeBackgroundColor

//Container with draggable .recipe elements

.recipes-container
	max-height: 310px
	overflow: auto

.recipes-container, .ingredients-container, .units-container
	.recipe
		width: 19%
		height: 50px
		margin: 5px 5px 10px 5px
		float: left
		display: flex
		align-items: center
		justify-content: center
		text-align: center

.recipes-container
	padding: 20px 10px

//Form for creating/editing new recipes
.recipe-form button, .recipe-form a, [draggable=true]
	&:hover
		+box-shadow(0px 3px 8px 1px $shadowColor)

.recipe-form, .login-form
	padding: 25px
	overflow: hidden
	background-color: $recipeBackgroundColor
	+border-radius(5px)
	+box-shadow(0px 2px 1px 0px $shadowColor)

	button
		height: 34px
		max-width: 100%

	label
		font-weight: normal

.recipe-form
	.dropdown-filter
		position: relative
		margin-bottom: 10px
		input[type=text]:focus
			+border-radius(4px 4px 0 4px)
			& + .available-ingredients
				max-height: 300px
		.col-xs-1, .col-xs-2, .col-xs-8
			padding: 0
		.available-ingredients
			position: absolute
			top: 33px
			left: 0
			z-index: 10
			max-height: 0
			min-width: 25%
			padding: 0
			margin: 0
			overflow: auto
			background-color: $white
			+transition(max-height 1s ease)
			list-style: none
			.ingredient-item
				padding-left: 12px
				height: 33px
				line-height: 33px
				&:hover
					background-color: $whitesmoke
					cursor: pointer

	.ingredient
		position: relative
		.remove-ingredient
			position: absolute
			top: 8px
			right: 8px
			display: block
			width: 14px
			height: 14px
			font-family: "Glyphicons Halflings"
			+transition(opacity 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
			opacity: 0
			&:hover
				color: $navColor
				cursor: pointer
		& + *
			margin-top: 10px
		&:hover
			&>.remove-ingredient
				opacity: 1
	.btn-success
		margin-right: 5px

	.recipe-description textarea
		width: 100%
		min-height: 250px
		resize: vertical

.ingredients-container, .units-container
	.input-wrapper
		padding-bottom: 10px
	.recipe:hover
		cursor: pointer
	.item-name, .item-units
		max-height: 33px
	.item-name
		width: 25%
		+border-radius(4px 0px 0px 4px)
	.item-units
		width: 15%
		+border-radius(0)
	.item-add
		+border-radius(0px 4px 4px 0px)
	.glyphicon-remove
		position: absolute
		top: 5px
		right: 0
		width: 20px
		height: 20px

// Summary page styles
.summary
	.summary-date
		margin-top: 0
		margin-bottom: 25px

.details-overlay
	position: fixed
	top: 0
	left: 0
	z-index: map-get($z-indexes, overlay)
	width: 100vw
	height: 100vh
	background-color: rgba(0,0,0,.4)
	&.visible
		display: block
	.details-body
		position: absolute
		top: 50%
		left: 50%
		+transform(translate(-50%,-50%))
		width: 100%
		max-width: 740px
		padding: 25px
		background-color: $whitesmoke
		+box-shadow(0px 2px 1px 0px $shadowColor)
	.recipe-title, .recipe-ingredients
		margin-bottom: 25px
	.recipe-ingredients
		padding: 0
		line-height: 25px
		+column-count(2)
		li
			margin-left: 25px
	.recipe-description
		line-height: 25px
		text-indent: 25px

//Login page
.login-form-container
	position: relative
	min-height: 460px
	.login-form
		position: absolute
		top: 50%
		left: 50%
		+transform(translate(-50%, -50%))
		width: 100%
		max-width: 460px
		input[type="text"], input[type="password"], .btn
			+box-shadow(0px 2px 1px 0px $shadowColor)
		.login-btn
			margin-right: 5px
