@import vendors/bootstrap

//color palette url - http://paletton.com/#uid=13g0u0k1It801XU0-Dn3toq6ekh

@mixin transition($params)
	-webkit-transition: $params
	-moz-transition: $params
	-o-transition: $params
	transition: $params

@mixin border-radius($params)
	-webkit-border-radius: $params
	-moz-border-radius: $params
	-o-border-radius: $params
	border-radius: $params

@mixin box-shadow($params)
	-webkit-box-shadow: $params
	-moz-box-shadow: $params
	box-shadow: $params

$z-indexes: (message: 300, header: 200, body: 100)

//Colors
$whitesmoke: #F5F5F5
$headerColor: #506362
$navColor: #6b7877
$backgroundColor: #878f8e
$recipeBackgroundColor: #B3B6B6
$white: #fff
$error: #A28382
$success: #71876D
$shadowColor: rgba(0, 0, 0, 0.7)

@font-face
	font-family: zantroke
	src: url(../fonts/Zantroke.otf)

.no-left-border-radius
	+border-radius(0 4px 4px 0)
.no-right-border-radius
	+border-radius(4px 0 0 4px)
.no-border-radius
	+border-radius(0)

.row
	margin: 0

a, a:focus, a:active
	color: $whitesmoke

body
	font-family: zantroke
	background-color: $backgroundColor
	font-size: 14px
	position: relative

.animation-wrapper
	position: relative
.page-body
	padding-top: 173px
	z-index: map-get($z-indexes, body)

.fade-animation
	position: absolute
	top: 0
	left: 0
	+transition(opacity 0.4s ease)
	&.ng-enter
		opacity: 0
		&.ng-enter-active
			opacity: 1
	&.ng-leave
		opacity: 1
		&.ng-leave-active
			opacity: 0

.has-spinner
	position: relative
	&:after
		content: ""
		display: block
		background: url(../images/spinner.gif) no-repeat center
		background-size: cover
		width: 15px
		height: 15px
		position: absolute
		top: 5px
		right: 5px

.header-wrapper
	position: fixed
	width: 100%
	top: 0
	z-index: map-get($z-indexes, header)

header
	position: relative
	z-index: 3
	background-color: $headerColor
	color: $white
	padding: 20px 0
	+box-shadow(0px 2px 1px 0px $shadowColor)
	.container
		display: flex
.logo
	position: relative
	z-index: 2
	max-width: 100px
	height: auto
	img
		width: 100%
		max-width: 100%
.title
	padding-left: 20px
	display: flex
	flex: 1
	align-items: center
	&:hover
		cursor: default

.material-shadow
	+box-shadow(0px 2px 1px 0px $shadowColor)
	+transition(box-shadow 0.4s cubic-bezier(0.865, 0, 0.425, 0.940))

nav
	position: relative
	background-color: $navColor
	height: 45px
	+box-shadow(0px 2px 1px 0px $shadowColor)
	ul
		position: relative
		margin: 0
		padding: 0
		display: flex
		justify-content: flex-start
		list-style: none
		align-items: center
		height: 45px
		li
			position: relative
			z-index: 3
			background-color: $navColor
			height: 100%
			padding: 0 10px
			display: flex
			align-items: stretch
			+transition((background-color 0.4s cubic-bezier(0.865, 0, 0.425, 0.940), box-shadow 0.4s cubic-bezier(0.865, 0, 0.425, 0.940)))
			&:first-child
				+box-shadow(-1px 1px 1px 0px $shadowColor)
			&:last-child
				+box-shadow(1px 1px 1px 0px $shadowColor)
			&:hover
				z-index: 4
				+box-shadow(0px 2px 8px 1px $shadowColor)
			a
				display: flex
				align-items: center
				color: $whitesmoke
				+transition(color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
				&:hover
					color: $whitesmoke
			&.active a
				text-decoration: underline

.message
	text-align: center
	line-height: 25px
	max-height: 0
	overflow: hidden
	font-size: 12px
	background-color: transparent
	position: absolute
	top: 0
	right: 0
	padding: 10px
	+border-radius(25px 0 0 25px)
	z-index: map-get($z-indexes, message)
	+transition((max-height 0.4s cubic-bezier(0.865, 0, 0.425, 0.940), background-color 0.4s cubic-bezier(0.865, 0, 0.425, 0.940)))
	&.error, &.success
		max-height: 999px
	&.error
		background-color: $error
	&.success
		background-color: $success

.margin-top-25
	margin-top: 25px

.recipe
	overflow-x: hidden
	overflow-y: visible
	background-color: $recipeBackgroundColor
	font-size: 1.5rem
	position: relative
	+border-radius(5px)
	+transition((opacity 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), box-shadow 0.3s cubic-bezier(0.865, 0, 0.425, 0.940)))
	+box-shadow(0px 2px 1px 0px $shadowColor)
	&.active
		+box-shadow(0px 3px 8px 1px $shadowColor)
	&[draggable=true]
		&:hover
			cursor: move
			.recipe-controls
				opacity: 1
	.recipe-controls
		position: absolute
		top: 0
		right: -38px
		padding-right: 5px
		+transition((right 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), background-color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), padding-left 0.3s cubic-bezier(0.865, 0, 0.425, 0.940)))
	&:hover
		.recipe-controls
			background-color: rgba(255, 255, 255, 0.6)
			right: 0
			padding-left: 5px
			+box-shadow(0px 2px 1px 0px $shadowColor)
			.glyphicon-chevron-left
				display: none
	.glyphicon
		font-size: 12px
		width: 12px
		height: 14px
		color: #333
		+transition(color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
		&:hover
			color: $navColor
			cursor: pointer
			text-decoration: none
// Calendar styles
.calendar-pagination
	position: relative
	z-index: 2
	.pagination-container
		background-color: $whitesmoke
		display: flex
		justify-content: space-between
		+box-shadow(0px 2px 1px 0px $shadowColor)
		border-bottom: 1px solid $recipeBackgroundColor
		border-left: 1px solid $recipeBackgroundColor
	.current-week
		padding: 0 5px 0 5px
		font-size: 12px
		text-align: center
	button
		padding: 0
		background: none
		border: none
		background-color: $whitesmoke

.calendar, .summary
	position: relative
	z-index: 2
	background-color: $whitesmoke
	+box-shadow(0px 2px 1px 0px $shadowColor)

.summary
	margin: 25px 15px
	padding: 25px

calendar .col-xs-1
	width: 14.285714285714285714285714285714%
	*width: 14.285714285714285714285714285714%
.day
	height: 400px
	overflow: auto
	padding: 0
	.date
		width: 100%
		font-size: 12px
		line-height: 25px
		text-align: center
	.meal
		padding: 0 15px
		min-height: 31.2%
		width: 100%
		&.over
			border: 2px dashed $navColor
	.lunch, .breakfast, .dinner
		border: 1px dashed $navColor
	.recipe
		width: 100%
		height: auto
		margin: 5px 0
		padding: 10px 0
		.recipe-title
			text-align: center
			margin: 0
		.recipe-ingredients
			margin: 0
			font-size: 12px
			padding: 0 0 0 27px
//Day with today's date mark
.today
	background-color: #DAE5D8
.day-header
	padding: 0
	text-align: center
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	border-bottom: 1px solid $recipeBackgroundColor
.day, .day-header
	&+*
		border-left: 1px solid $recipeBackgroundColor

//Container with draggable .recipe elements

.recipes-container
	max-height: 310px
	overflow: auto

.recipes-container, .ingredients-container, .units-container
	.recipe
		margin: 5px 5px 10px 5px
		float: left
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		width: 19%
		height: 50px

.recipes-container
	padding: 15px 10px

//Form for creating/editing new recipes
.recipe-form button, .recipe-form a, [draggable=true]
	&:hover
		+box-shadow(0px 3px 8px 1px $shadowColor)

.recipe-form
	background-color: $recipeBackgroundColor
	padding: 25px
	overflow: hidden
	+border-radius(5px)
	+box-shadow(0px 2px 1px 0px $shadowColor)

	button
		height: 34px
		max-width: 100%

	label
		font-weight: normal

	.dropdown-filter
		position: relative
		margin-bottom: 10px
		input[type=text]:focus
			+border-radius(4px 4px 0 4px)
			& + .available-ingredients
				max-height: 300px
		.col-xs-1, .col-xs-2, .col-xs-8
			padding: 0
		.available-ingredients
			z-index: 10
			overflow: auto
			max-height: 0
			padding: 0
			margin: 0
			position: absolute
			top: 33px
			left: 0
			background-color: $white
			min-width: 25%
			list-style: none
			+transition(max-height 1s ease)
			.ingredient-item
				padding-left: 12px
				height: 33px
				line-height: 33px
				&:hover
					background-color: $whitesmoke
					cursor: pointer

	.ingredient
		position: relative
		.remove-ingredient
			position: absolute
			top: 8px
			right: 8px
			font-family: "Glyphicons Halflings"
			display: block
			width: 14px
			height: 14px
			opacity: 0
			+transition(opacity 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
			&:hover
				cursor: pointer
				color: $navColor
		& + *
			margin-top: 10px
		&:hover
			&>.remove-ingredient
				opacity: 1
	.btn-success
		margin-right: 5px

	.recipe-description textarea
		width: 100%
		min-height: 250px
		resize: vertical

.ingredients-container, .units-container
	.input-wrapper
		padding-bottom: 10px
	.recipe:hover
		cursor: pointer
	.item-name, .item-units
		max-height: 33px
	.item-name
		width: 25%
		+border-radius(4px 0px 0px 4px)
	.item-units
		width: 15%
		+border-radius(0)
	.item-add
		+border-radius(0px 4px 4px 0px)
	.glyphicon-remove
		position: absolute
		top: 5px
		right: 0
		width: 20px
		height: 20px

.summary
	.summary-date
		margin-top: 0
		margin-bottom: 25px
