%html{:'ng-app' => 'weeklyMenuApp'}
  %head
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'viewport', :content => 'width=deveice-width, initial-scale=1'}
    %title Weekly Menu
    %link{:href => 'styles/style.css', :rel => 'stylesheet'}
  %body
    %header
      .logo
      %h2 Weekly Menu
    .body
      %section.calendar
      %section.items-list
    %script{:src => 'scripts/main.min.js'}