.container.margin-top-25
  %section.row
    %form.recipe-form.col-md-12{:role => "form", :name => "recipeForm"}
      .form-group
        %label{:for => "recipe-title"} Назва рецепту
        %input.form-control.material-shadow{:type => "text", :'ng-model' => 'recipe.name'}
      .form-group.recipe-ingredients
        %label Інгредієнти
        .dropdown-filter.row
          .col-xs-8
            %input.form-control.material-shadow.no-right-border-radius{:type => "text", :'ng-model' => 'ingModel.name', :placeholder => 'почніть вводити назву інгредієнта'}
            %ul.available-ingredients.material-shadow
              %li.ingredient-item{:'ng-repeat' => 'item in ingredients | filter:ingModel.name', :'ng-click' => 'chooseIngredient(item)'}
                {{ item.name }}
          .col-xs-2
            %input.form-control.material-shadow.no-border-radius{:type => "text", :'ng-model' => 'ingModel.amount', :placeholder => 'к-сть'}
          .col-xs-1
            %div.form-control.material-shadow.no-border-radius
              {{ ingModel.unit.name }}
          .col-xs-1
            %button.btn.btn-default.material-shadow.no-left-border-radius{:'ng-click' => 'addIngredient()'} Додати
        .ingredient.form-control.material-shadow{:'ng-repeat' => 'ing in recipe.ingredients'}
          {{ ing.name + ' ' + ing.amount + ing.unit.name }}
          .remove-ingredient{:'ng-click' => 'removeIngredient(recipe.ingredients[$index])'} &#57364;
      .form-group.recipe-description
        %label Опис
        %textarea.form-control.material-shadow{:'ng-model' => 'recipe.description'}

      %a.btn.btn-default.pull-right.material-shadow{:href => '#/home'}
        Повернутись на головну
      %button.btn.btn-success.pull-right.material-shadow{:'ng-click' => 'saveRecipe()'}
        Зберегти рецепт
