@import bootstrap

//color palette url - http://paletton.com/#uid=13g0u0k1It801XU0-Dn3toq6ekh

@mixin transition($params)
	-webkit-transition: $params
	-moz-transition: $params
	-o-transition: $params
	transition: $params

@mixin border-radius($params)
	-webkit-border-radius: $params
	-moz-border-radius: $params
	-o-border-radius: $params
	border-radius: $params

@mixin box-shadow($params)
	-webkit-box-shadow: $params
	-moz-box-shadow: $params
	box-shadow: $params

.row
	margin: 0

@font-face
	font-family: zantroke
	src: url(../fonts/Zantroke.otf)

body
	font-family: zantroke
	background-color: #878F8E
	font-size: 14px

header
	position: relative
	z-index: 3
	background-color: #506362
	color: #fff
	padding: 20px 0
	+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
	.container
		display: flex
.logo
	position: relative
	z-index: 2
	max-width: 100px
	height: auto
	img
		width: 100%
		max-width: 100%
.title
	padding-left: 20px
	display: flex
	flex: 1
	align-items: center
	&:hover
		cursor: default

nav
	position: relative
	background-color: #6B7877
	height: 45px
	+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
	ul
		position: relative
		margin: 0
		padding: 0
		display: flex
		justify-content: flex-start
		list-style: none
		align-items: center
		height: 45px
		li
			position: relative
			z-index: 3
			background-color: #6B7877
			height: 100%
			padding: 0 10px
			display: flex
			align-items: stretch
			+transition((background-color 0.4s cubic-bezier(0.865, 0, 0.425, 0.940), box-shadow 0.4s cubic-bezier(0.865, 0, 0.425, 0.940)))
			&:first-child
				+box-shadow(-1px 1px 1px 0px rgba(0, 0, 0, 0.7))
			&:last-child
				+box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.7))
			&:hover
				z-index: 4
				+box-shadow(0px 2px 8px 1px rgba(0, 0, 0, 0.7))
			a
				display: flex
				align-items: center
				color: #F5F5F5
				+transition(color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
				&:hover
					color: #F5F5F5
			&.active a
				text-decoration: underline

.message
	text-align: center
	line-height: 25px
	height: 45px
	max-height: 0
	overflow: hidden
	font-size: 12px
	background-color: transparent
	+transition((max-height 0.4s cubic-bezier(0.865, 0, 0.425, 0.940), background-color 0.4s cubic-bezier(0.865, 0, 0.425, 0.940)))
	&.error, &.success
		max-height: 45px
		padding: 10px 0
	&.error
		background-color: #A28382
	&.success
		background-color: #71876D

.margin-top-25
	margin-top: 25px

.recipe
	overflow-x: hidden
	overflow-y: visible
	background-color: #B3B6B6
	font-size: 1.5rem
	position: relative
	+border-radius(5px)
	+transition((opacity 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), box-shadow 0.3s cubic-bezier(0.865, 0, 0.425, 0.940)))
	+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
	&[draggable=true]
		&:hover
			cursor: move
			.recipe-controls
				opacity: 1
	.recipe-controls
		position: absolute
		top: 0
		right: -38px
		padding-right: 5px
		+transition((right 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), background-color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940), padding-left 0.3s cubic-bezier(0.865, 0, 0.425, 0.940)))
	&:hover
		.recipe-controls
			background-color: rgba(255, 255, 255, 0.6)
			right: 0
			padding-left: 5px
			+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
			.glyphicon-chevron-left
				display: none
	.glyphicon
		font-size: 12px
		width: 12px
		height: 14px
		color: #333
		+transition(color 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
		&:hover
			color: #6B7877
			cursor: pointer
			text-decoration: none
// Calendar styles
.calendar-pagination
	position: relative
	z-index: 2
	.pagination-container
		background-color: #F5F5F5
		display: flex
		justify-content: space-between
		+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
		border-bottom: 1px solid #B3B6B6
		border-left: 1px solid #B3B6B6
	.current-week
		padding: 0 5px 0 5px
		font-size: 12px
		text-align: center
	button
		padding: 0
		background: none
		border: none
		background-color: whitesmoke

.calendar
	position: relative
	z-index: 2
	background-color: #F5F5F5
	+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
calendar .col-xs-1
	width: 14.285714285714285714285714285714%
	*width: 14.285714285714285714285714285714%
.day
	height: 400px
	overflow: auto
	&.over
		border: 2px dashed #6B7877
	.date
		width: 100%
		font-size: 12px
		line-height: 25px
		text-align: center
	.recipe
		width: 100%
		height: auto
		margin: 5px 0
		padding: 10px 0
		.recipe-title
			text-align: center
			margin-top: 0
		.recipe-ingredients
			margin: 0
			font-size: 12px
			padding: 0 0 0 27px
//Day with today's date mark
.today
	background-color: #F0F2ED
.day-header
	padding: 0
	text-align: center
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	border-bottom: 1px solid #B3B6B6
.day, .day-header
	&+*
		border-left: 1px solid #B3B6B6

//Container with draggable .recipe elements
.recipes-container
	max-height: 310px
	overflow: auto
	margin-top: 20px
	.recipe
		margin: 5px 5px 10px 5px
		float: left
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		width: 19%
		height: 50px

//Form for creating/editing new recipes
.recipe-form button, .recipe-form a, [draggable=true]
	&:hover
		+box-shadow(0px 3px 8px 1px rgba(0, 0, 0, 0.7))

.recipe-form
	background-color: #B3B6B6
	padding: 25px
	overflow: hidden
	+border-radius(5px)
	+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))

	input[type=text], button, a
		+box-shadow(0px 2px 1px 0px rgba(0, 0, 0, 0.7))
		+transition(box-shadow 0.4s cubic-bezier(0.865, 0, 0.425, 0.940))

	label
		font-weight: normal
	.ingredient
		position: relative
		.remove-ingredient
			position: absolute
			top: 8px
			right: 8px
			font-family: "Glyphicons Halflings"
			display: block
			width: 14px
			height: 14px
			opacity: 0
			+transition(opacity 0.3s cubic-bezier(0.865, 0, 0.425, 0.940))
			&:hover
				cursor: pointer
				color: #6B7877
		& + *
			margin-top: 10px
		&:active, &:hover
			&>.remove-ingredient
				opacity: 1
	.btn-success
		margin-right: 5px