@import bootstrap

//color palette url - http://paletton.com/#uid=13g0u0k1It801XU0-Dn3toq6ekh

@mixin transition($params)
	-webkit-transition: $params
	-moz-transition: $params
	-o-transition: $params
	transition: $params

.row
	margin: 0

@font-face
	font-family: zantroke
	src: url(../fonts/Zantroke.otf)

body
	font-family: zantroke
	background-color: #878F8E
	font-size: 14px

header
	background-color: #506362
	color: #fff
	padding: 20px 0
	.container
		display: flex
.logo
	position: relative
	max-width: 100px
	height: auto
	img
		width: 100%
		max-width: 100%
.title
	padding-left: 20px
	display: flex
	flex: 1
	align-items: center
	&:hover
		cursor: default

nav
	background-color: #6B7877
	height: 45px
	ul
		margin: 0
		padding: 0
		display: flex
		justify-content: flex-start
		list-style: none
		align-items: center
		height: 45px
		li
			height: 100%
			padding: 0 10px
			display: flex
			align-items: stretch
			+transition(background-color 0.3s ease)
			&:hover
				background-color: #B3B6B6
			a
				display: flex
				align-items: center
				color: #F5F5F5
				+transition(color 0.3s ease)
				&:hover
					color: #506362

.calendar
	background-color: #F5F5F5
	margin-top: 25px
.day
	height: 400px
	+transition(border 0.3s ease)
	&.over
		border: 2px dashed #6B7877
.day-header
	padding: 0
	text-align: center
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	border-bottom: 1px solid #B3B6B6
.day, .day-header
	&+*
		border-left: 1px solid #B3B6B6

.recipes-container
	max-height: 310px
	overflow: auto
	margin-top: 20px
.recipe
	margin: 5px
	float: left
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	width: 19%
	height: 50px
	background-color: #B3B6B6
	font-size: 1.5rem
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	-o-border-radius: 5px
	border-radius: 5px
	+transition(opacity 0.3s ease)
	&:hover
		cursor: move
