%html{:'ng-app' => 'weeklyMenuApp', :'lang' => 'UK'}
	%head
		%meta{:charset => 'UTF-8'}
		%meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=Edge"}
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
		%title Меню на тиждень
		%link{:href => 'styles/style.css', :rel => 'stylesheet'}
	%body
		.header-wrapper
			%header
				.container
					.logo
						%img{:src => 'images/chef_hat_logo.png'}
					%h2.title Меню на тиждень
			%nav{:'ng-controller' => 'TopNavCtrl'}
				.container
					%ul
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/calendar")'}
							%a{:href => '#/calendar'} Календар
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/recipes")'}
							%a{:href => '#/recipes'} Додати рецепт
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/ingredients")'}
							%a{:href => '#/ingredients'} Інгредієнти
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/units")'}
							%a{:href => '#/units'} Одиниці міри
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/summary")'}
							%a{:href => '#/summary'} Підсумок інгредієнтів
						-# %li{:'ng-if' => '!userAuthenticated',
						-# 		:'ng-class' => 'getClass("/login")'}
						-# 	%a{:href => '#/login'} Увійти
						%li{:'ng-if' => 'userAuthenticated',
								:'ng-class' => 'getClass("/logout")'}
							%a{:href => '', :'ng-click' => 'signOut()'} Вийти

			%pre.message{:'ng-class' => '{ error: statusMessage.type == "error", success: statusMessage.type == "success"}'}
				{{ statusMessage.text }}
		.container.animation-wrapper
			.page-body.fade-animation{:'ng-view' => ''}

		.details-overlay{:'ng-controller' => "DetailsOverlayCtrl",
		 								 :'ng-show' => "recipeDetailsVisible",
										 :'ng-click' => 'hideRecipeDetails()'}
			.details-body
				%h3.recipe-title
					{{ recipeDetails.name }}
				%ul.recipe-ingredients
					%li{:'ng-repeat' => 'ing in recipeDetails.ingredients'}
						{{ ing.name }}: {{ ing.amount + ' ' + ing.unit.name }}
				.recipe-description
					{{ recipeDetails.description }}

		%script{:src => 'scripts/main.min.js'}
