%html{:'ng-app' => 'weeklyMenuApp'}
  %head
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title Меню на тиждень
    %link{:href => 'styles/style.css', :rel => 'stylesheet'}
  %body
    %header
      .container
        .logo
          %img{:src => 'images/chef_hat_logo.png'}
        %h2.title Меню на тиждень
    %nav
      .container
        %ul
          %li
            %a{:href => ''} Перелік рецептів
          %li
            %a{:href => ''} Додати рецепт
    .container
      %section.row.calendar
        .calendar-days
          .col-md-2.day-header Понеділок
          .col-md-2.day-header Вівторок
          .col-md-2.day-header Середа
          .col-md-2.day-header Четвер
          .col-md-2.day-header П'ятниця
          .col-md-1.day-header Субота
          .col-md-1.day-header Неділя
        .calendar-recipes{:'ng-controller' => 'CalendarCtrl'}
          .col-md-2.day.monday{:ondragover => "event.preventDefault()"}
          .col-md-2.day.tuesday{:ondragover => "event.preventDefault()"}
          .col-md-2.day.wednesday{:ondragover => "event.preventDefault()"}
          .col-md-2.day.thursday{:ondragover => "event.preventDefault()"}
          .col-md-2.day.friday{:ondragover => "event.preventDefault()"}
          .col-md-1.day.saturday{:ondragover => "event.preventDefault()"}
          .col-md-1.day.sunday{:ondragover => "event.preventDefault()"}
    .container.recipes-container{:'ng-controller' => 'RecipesCtrl'}
      .recipe{:'ng-repeat' => 'recipe in recipes', :draggable => 'true'}
        {{ recipe.name }}
    %script{:src => 'scripts/main.min.js'}